# Create a .env file in your project root and paste the env bellow

VITE_EPSSO_API_KEY=your_api_key_here
VITE_GET_POSTS_ENDPOINT="posts_endpoint_here"
VITE_GET_CATEGORIES_ENDPOINT="categories_endpoint_here"

VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key

# Template IDs for different forms
VITE_EMAILJS_CONTACT_TEMPLATE_ID=template_contact